<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        html,
        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }

        h1 {
            font-size: 26px;
            font-weight: bold;
            margin: 8px 0px 12px;
        }

        h2 {
            font-size: 18px;
            font-weight: bold;
            text-decoration: underline;
            margin: 8px 0px 6px 0px;
        }

        h3 {
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            margin: 8px 0px 6px 0px;
        }

        section {
            margin: 25px 0px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .address {
            color: #aaaaaa;
        }
    </style>
</head>

<body>
        <div class="container-fluid text-center">
            {{#with profile}} 
            {{#if name}}<h1>{{name}}</h1>{{/if}}
            {{#if address}} <div class="address">{{address}}</div>{{/if}}
            <ul class="list-inline">
                {{#if phone}} <li class="list-inline-item"><span class="fa fa-phone"></span> {{phone}}</li>{{/if}}
                {{#if email}} <li class="list-inline-item"><span class="fa fa-envelope"></span> {{email}}</li>{{/if}}
                {{#with social}}
                    {{#if website}}<li class="list-inline-item"><span class="fa fa-home"></span> {{website}}</li>{{/if}}
                    {{#if github}}<li class="list-inline-item"><span class="fa fa-github"></span> {{github}}</li>{{/if}}
                    {{#if linkedin}}<li class="list-inline-item"><span class="fa fa-linkedin"></span> {{linkedin}}</li>{{/if}}
                    {{/with}}
                {{/with}}
            </ul>
        </div>
        <div class="container">
                <section>
            <h2>Personal Profile</h2>
            {{#if profile.short_description}} {{this.profile.short_description}} {{/if}}
        </section>
        {{#if education}}
        <section>
            <h2>Education</h2>
            {{#each education}}
            <div class="row mt-4 mb-4">
                <div class="col">
                    <h3>{{school}}</h3>
                    <em>{{start_date}} - {{end_date}}</em>
                </div>
                <div class="col">
                    <strong>
                        {{course}}
                    </strong>
                    <br /> {{#if grade}} Achieved a {{grade}} {{/if}} {{#ifObject modules}}
                    <p>
                        Modules:
                        <ul>{{#each modules}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </p>
                    {{else}} {{#if modules}}
                    <p>
                        Modules: {{modules}}
                    </p>
                    {{/if}} {{/ifObject}}
                </div>
            </div>
            {{/each}}
        </section>
        {{/if}} {{#if work_experience}}
        <section>
            <h2>Work Experience</h2>
            {{#each work_experience}}
            <div class="row mt-4 mb-4">
                <div class="col">
                    <h3>{{company}}</h3>
                    <em>{{start_date}} - {{end_date}}</em>
                </div>
                <div class="col">
                    <em>
                        {{job_title}}
                    </em>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{description}}
                </div>
            </div>
            {{/each}}
        </section>
        {{/if}} {{#if employment_history}}
        <section>
            <h2>Employment History</h2>
            {{#each employment_history}}
            <div class="row mt-4 mb-4">
                <div class="col">
                    <h3>{{company}}</h3>
                    <em>{{start_date}} - {{end_date}}</em>
                </div>
                <div class="col">
                    <em>
                        {{job_title}}
                    </em>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{description}}
                </div>
            </div>
            {{/each}} </section>
        {{/if}} {{#if interests}}
        <section>
            <h2>Interests</h2>
            {{#each interests}}
            <div class="row mt-4 mb-4">
                <div class="col">
                    <strong>
                        {{title}}
                    </strong>
                    <br /> {{description}}
                </div>
            </div>
            {{/each}} {{#if additional_information}}
            <br />
            <h3>Additional Information</h3>
            {{additional_information}} {{/if}}
        </section>
        {{/if}} {{#if references}}
        <section>
            <h2>References</h2>
            {{references}}
        </section>
        {{/if}}
    </div>
</body>

</html>